<div class="wrapper01">
    <div class="contents_area">
        <div class="record_area">
            <div class="thought_form">
                <h3><%= @nickname %>さんの思考ログの一覧</h3>
                <div>
                <select name="thought_genre">
                <option value="genre_all">all</option>
                <option value="genre01">プログラミングで出来ること</option>
                <option value="genre02">起業して何をするか</option>
                <option value="genre03">新規ジャンルの追加</option>
                </select>
                </div>
                <% @thoughts.each do |thought| %>
                <div><%= simple_format(thought.text) %></div>
                <% end %>
                <%= paginate(@thoughts) %>
            </div>

            <div class="action_form">
                <h3><%= @nickname %>さんの行動ログの一覧</h3>
                <div>
                <select name="action_genre">
                <option value="genre_all">all</option>
                <option value="genre01">プログラミングで出来ること</option>
                <option value="genre02">起業して何をするか</option>
                <option value="genre03">新規ジャンルの追加</option>
                </select>
                </div>
                <% @actions.each do |action| %>
                <div><%= action.text %></div>
                <% end %>
                <%= paginate(@actions) %>
            </div>
        </div>
    </div>
</div>