<div class="wrapper01">
    <div class="contents_area">
        <div class="record_area">
            <div class="thought_form">
                <%= form_tag("/thoughts/#{@thought.id}", method: :patch) do %>
                    <h3>思考ログの記入</h3>
                    <div>
                    <!-- <select name="thought_genre" type="text" name="genre" value="<%= @thought.tag %>">
                    <option value="genre01">プログラミングで出来ること</option>
                    <option value="genre02">起業して何をするか</option>
                    <option value="genre03">新規ジャンルの追加</option>
                    </select> -->
                    <%= select :page, :genre, [["プログラミングで出来ること", "genre01"],["起業して何をするか", "genre02"],["新規ジャンルの追加", "genre03"]],  :prompt => @thought.genre %>
                    </div>
                    <div>
                    <%= text_field_tag :tag, @thought.tag %>
                    </div>
                    <div>
                    <%= text_field_tag :title, @thought.title %>
                    <%= text_area_tag :text, @thought.text %>
                    </div>
                    <div>
                    <select type="text" name="open_area" value="<%= @thought.open_area %>">
                    <option value="expose_area01">公開（全ての人に公開されます）</option>
                    <option value="expose_area02">友達のみに公開</option>
                    <option value="expose_area03">非公開（自分のみ）</option>
                    </select>
                    </div>
                    <div>
                    <%= submit_tag "投稿", name: "thought_button" %>
                    </div>
                <% end %>
            </div>
        </div>

    </div>
</div>