
<div class="wrapper01">
    <div class="contents_area">

    <% if !(user_signed_in?) %>
    <h1>Welcome to BrainSynergy!</h1>
    <% end %>

    <% if user_signed_in? %>
        <div class="all_record">
            <div class="thought_form">
                <h3>みんなの頭の中</h3>
                <div><a href="/new_thought">≫Brain share</a></div>
                <div><a href="/thoughts"><span class="ichiran">≫一覧を表示</span></a></div>
                <div class="all_record">
                <% @thoughts.each do |thought| %>
                    <div class="record">
                        <%= image_tag 'icon_sample.jpg' %>
                        <span class="user_name"><%= thought.user.nickname %></span>
                        <span class="detail_arrow">▼</span>
                            <ul class="more_list">
                                <li><%= link_to '詳細', "/thoughts/#{thought.id}", method: :get %></li>
                                <% if user_signed_in? && current_user.id == thought.user_id %>
                                <li><%= link_to '編集', "/thoughts/#{thought.id}/edit", method: :get %></li>
                                <li><a href="#" class="delete_link">削除</a></li>
                                <% end %>
                            </ul>
                        <div><%= thought.text %></div>
                        <div class="thought_delete">
                            <div>本当に削除しますか？</div>
                            <%= form_tag("/thoughts/#{thought.id}", method: :delete) do %>
                            <%= submit_tag "削除", name: "thought_button" %>
                            <% end %>
                            <span class="cancel">キャンセル</span>
                        </div>
                    </div>
                <% end %>
                </div>
            </div>
            <%= paginate(@thoughts) %>

            <div class="action_form">
                <h3>みんなのdone</h3>
                <div><a href="/new_action">≫Action share</a></div>
                <div><a href="/actions"><span class="ichiran">≫一覧を表示</span></a></div>
                <div class="all_record">
                <% @actions.each do |action| %>
                    <% if user_signed_in? && current_user.id == action.user_id %>
                    <div class="record">
                    <%= image_tag 'icon_sample.jpg' %><b><%= action.user.nickname %></b><%= action.text %>
                        <span>▼</span>
                        <ul class="more_list">
                            <li>
                            <%= link_to '編集', "/actions/#{action.id}/edit", method: :get %>
                            <%= form_tag("/actions/#{action.id}", method: :delete) do %>
                            <%= submit_tag "削除", name: "action_button" %>
                            <% end %>
                            </li>
                        </ul>
                    </div>
                    <% end %>
                <% end %>
                </div>
                <%= paginate(@actions) %>
            </div>
        </div>

        <h3>あなたに興味を持っている人がいます</h3>
        <div class="interest_area">
            <div>
            <a href="#"><%= image_tag 'icon_sample.jpg' %></a><a href="#">hiro さん<br>フロントエンドエンジニア</a>
            </div>
            <div>
            <a href="#"><%= image_tag 'icon_sample.jpg' %></a><a href="#">hiro さん<br>フロントエンドエンジニア</a>
            </div>
            <div>
            <a href="#"><%= image_tag 'icon_sample.jpg' %></a><a href="#">hiro さん<br>フロントエンドエンジニア</a>
            </div>
            <div>
            <a href="#"><%= image_tag 'icon_sample.jpg' %></a><a href="#">hiro さん<br>フロントエンドエンジニア</a>
            </div>
            <div>
            <a href="#"><%= image_tag 'icon_sample.jpg' %></a><a href="#">hiro さん<br>フロントエンドエンジニア</a>
            </div>
            <div>
            <a href="#"><%= image_tag 'icon_sample.jpg' %></a><a href="#">hiro さん<br>フロントエンドエンジニア</a>
            </div>
            <div><a href="#">一覧へ >></a></div>
        </div>

        <h3>興味があるかも？</h3>
        <div class="your_interest_area">
            <div>
            <a href="#"><%= image_tag 'icon_sample.jpg' %></a><a href="#">hiro さん<br>フロントエンドエンジニア</a>
            </div>
            <div>
            <a href="#"><%= image_tag 'icon_sample.jpg' %></a><a href="#">hiro さん<br>フロントエンドエンジニア</a>
            </div>
            <div>
            <a href="#"><%= image_tag 'icon_sample.jpg' %></a><a href="#">hiro さん<br>フロントエンドエンジニア</a>
            </div>
            <div>
            <a href="#"><%= image_tag 'icon_sample.jpg' %></a><a href="#">hiro さん<br>フロントエンドエンジニア</a>
            </div>
            <div>
            <a href="#"><%= image_tag 'icon_sample.jpg' %></a><a href="#">hiro さん<br>フロントエンドエンジニア</a>
            </div>
            <div>
            <a href="#"><%= image_tag 'icon_sample.jpg' %></a><a href="#">hiro さん<br>フロントエンドエンジニア</a>
            </div>
            <div><a href="#">一覧へ >></a></div>
        </div>

    <% end %>

    </div>
</div>

<div class="news_area">
    <h3>運営からのお知らせ</h3>
    <div id="news">
        <p>2017.02.12・・・絶賛改修中！</p>
    </div>
</div>