<% if user_signed_in? %>
<div class="wrapper01">
    <div class="contents_area">
        <div class="all_record">
            <div class="thought_form">
                    <% if user_signed_in? && current_user.id == @thought.user_id %>
                        <div>
                        <span>▼</span>
                        <ul class="more_list">
                            <li>
                            <%= link_to '編集', "/thoughts/#{@thought.id}/edit", method: :get %>
                            <%= form_tag("/thoughts/#{@thought.id}", method: :delete) do %>
                            <%= submit_tag "削除", name: "thought_button" %>
                            <% end %>
                            </li>
                        </ul>
                        </div>
                    <% end %>
                    <div><%= @thought.user.nickname %><%= @thought.text %></div>
            </div>
        </div>
        <% if current_user %>
            <%= form_tag("/thoughts/#{@thought.id}/comments", method: :post) do %>
            <textarea cols="30" name="text" placeholder="コメントする" rows="2"></textarea>         <input type="submit" value="SENT">
            <% end %>
        <% end %>
        <div class="comments">
            <h4>＜コメント一覧＞</h4>
            <% if @comments %>
                <% @comments.each do |comment| %>
                <p><strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong><%= comment.text %></p>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<% end %>
